body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.users-box {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #d8d8d8;

}
.card {
  width:212px;
  height: 130px; 
  background-color: #ffffff;
  padding: 10px;
  flex-direction: column;
  text-align: center;
  position: relative;
  margin-top: 50px;
 
}

.users-avatar {
  height: 80px;
  width:80px;
  border-radius: 50%;
  margin-top: -40vh;

}

.users-name {
  font-size: 18px;
  color:#E93939;
  text-align: center;
}

.users-list a {
  text-decoration: none;
}

.users-delete {
  background-color:rgba(252, 244, 244, 0.957);
  color: #007FA3;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  bottom: 15px;
  left: 5px;
}

.users-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:37px;
  padding: 0 80px;
}

